h1 {
    text-align: center;
}
.front p {
    text-align: center;
    font-weight: bold;
}
.cardBox {
    font-size: 1.2em;
    perspective: 800px;
    transition: all 0.4s ease 0s;
    width: 20%;
}
.cardBox:hover .card {
    transform: rotateY(180deg);
}
.card {
    background: #fff;
    height: 280px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease 0s;
    width: 298px;
}
.card .front,
.card .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: #000A64;
    display: block;
    font-size: 1.2em;
    padding: 0.8em 0.7em;
    position: absolute;
    text-align: center;
    width: 100%;
}
.card .back {
    transform: rotateY( 180deg);
}
.cardBox .card .back {
    background: #BFDBFF;
}